<mat-card>
  <mat-card-header>
    <mat-card-title *ngIf="question.id">Edit Question</mat-card-title>
    <mat-card-title *ngIf="!question.id">New Question</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form>
      <mat-form-field class="fullWidth">
        <input [(ngModel)]="question.text" name="question" matInput placeholder="Qestion" />
      </mat-form-field>
      <mat-form-field  class="fullWidth">
        <input [(ngModel)]="question.correctAnswer" name="correctAnswer" matInput placeholder="Correct Answer" />
      </mat-form-field>

      <mat-form-field  class="fullWidth">
        <input [(ngModel)]="question.answer1" name="answer1" matInput placeholder="Wrong Answer 1" />
      </mat-form-field>
      <mat-form-field  class="fullWidth">
        <input [(ngModel)]="question.answer2" name="answer2" matInput placeholder="Wrong Answer 2" />
      </mat-form-field>
      <mat-form-field  class="fullWidth">
        <input [(ngModel)]="question.answer3" name="answer3" matInput placeholder="Wrong Answer 3" />
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button (click)="post(question)" *ngIf="!question.id" mat-button>Post</button>
    <button (click)="api.putQuestion(question)" *ngIf="question.id" mat-button>Edit</button>
    <button (click)="question = {}" *ngIf="question.id" mat-button>New</button>
  </mat-card-actions>
</mat-card>

<questions></questions>